ModestMaps==1.4.1
PIL==1.1.7
-e git://github.com/yuvadm/TileStache.git@b25514a170f8b7401844e7f005bd1e6bd5342b5f#egg=TileStache-dev
Werkzeug==0.8.3
boto==2.5.2
gunicorn==0.14.6
pylibmc==1.2.3
pysqlite==2.6.3
python-memcached==1.48
wsgiref==0.1.2
